<div class="container">
    <div class="w-100 p-2">
        <h2 class="heavy-text">Our Services</h2>
        <hr class="bottom-line" />
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="service">
                <i class="fas fa-city fa-4x"></i>
                <h4 class="heavy-text">@ViewBag.EmployersNumber Companies </h4>
                <p>Serve Companies to find Excellent Candidates and hire Employees with Professional Skills.</p>
                
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service">
                <i class="fas fa-users fa-4x"></i>
                <h4 class="heavy-text">@ViewBag.EmployeesNumber Employees</h4>
                <p>Help Employees to get more Opportunities, Build their Career and find their Dream Job.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service">
                <i class="fas fa-briefcase fa-4x"></i>
                <h4 class="heavy-text">@ViewBag.JobsNumber Jobs</h4>
                <p>Working with Job Vacancies to best match between Employers and Talented Employees.</p>
            </div>
        </div>
    </div>
</div>
