<footer class="px-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-1">
                <h5 class="heavy-text">About us</h5>
                <p class="pr-2">
                    Searching for vacancies & career opportunities? Jobby helps you build your career and find your dream job. 
                    Employers & Recruiters? Join one of the biggest online recruitment platform and hire talented , skilled 
                    and professional employees.
                </p>
            </div>
            <div class="col-md-3 px-1">
                <h5 class="heavy-text">Links</h5>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="links">
                            <li><a href="/Employer/Index">Recruiters</a></li>
                            <li><a href="/Employee/Index">Employees</a></li>
                            <li><a href="/Job/Index">Explore Jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="links">
                            <li><a href="/User/Login">Sign in</a></li>
                            <li><a href="/Employer/Register">Recruiter Join</a></li>
                            <li><a href="/Employee/Register">Employee Register</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-3 px-1">
                <h5 class="heavy-text">Follow us</h5>
                <a href="https://www.linkedin.com/" class="social-link"><i class="fab fa-linkedin fa-2x" title="LinkedIn"></i></a>
                <a href="https://www.facebook.com/" class="social-link"><i class="fab fa-facebook-square fa-2x" title="Facebook"></i></a>
                <a href="https://twitter.com/" class="social-link"><i class="fab fa-twitter-square fa-2x" title="Twitter"></i></a>
                <p class="mt-2">&copy; 2019 <b>JOBBY</b>. All Rights Reserved, Developed by <b>Mohamed Osama</b>.</p>
            </div>
        </div>
    </div>

</footer>