@{ ViewBag.Title = "Forgot Password"; }

@Html.Partial("_EmployeeNavbar")

<div class="container content center-vertical">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-8 offset-lg-2  px-3 px-sm-5" id="forgot-form">
                    <div>
                        <i class="fas fa-lock fa-5x mb-1"></i>
                        <h2 class="heavy-text text-uppercase">Forgot Password</h2>
                        <hr class="bottom-line" />
                        <p>Please fill in your Email Address below to verify your identity.<br /></p>
                    </div>
                    <input type="email" class="form-control" name="userEmail" placeholder="Enter email here.." required />
                    <div class="error-msg">
                        @Html.ValidationMessage("InvalidEmail")
                    </div>
                    <input type="submit" value="Next" class="btn btn-primary col-sm-3" />
                </div>
            }
        </div>
    </div>
</div>

