/**** navbar active link ****/
#explore{
	background-Color : #007aff;
}
#explore a text{
	color: white;
}
@media screen and (max-width: 768px) {
	#explore{
		background-Color : rgba(0,0,0,0);
	}
	#explore a text{
		color: #007aff;
	}
	#not-found{
	margin: 10vh 0 !important;
  }
}
/****************************/
#not-found{
	text-align: center;
	margin: 27vh 0;
}
#search-options, #search-result{
	padding: 16px;
	text-align: left;
}
.fa-bookmark,fa-bookmark:hover{
	color:#007aff;
}
hr{
	margin: 4px 0;
	padding: 0;
}
.expand{
	font-size: 12px;
	margin-top: 6px;
	float: right;
}
#filters a{
	display: block;
	cursor: pointer;
	color: #202b46;
	font-weight: 500;
	padding: 2px 4px;
	margin-bottom: 4px;
	border: 1px solid rgba(0,0,0,0);
}
#filters a:hover{
	background-color: #007aff;
  border: 1px solid #007aff;
	border-radius: 4px;
	color: white;
}
.filter-list{
	list-style-type: none;
	padding: 0 0 0 6px;
	margin: -4px 0 0 0;
}