#profile-container{
	padding: 12px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 4px;
}
#profile-picture img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.card-header a, .card-header a:hover{
	color: #202b46;
}
.no-info{
	opacity: .3;
}
.fa-arrow-circle-down{
	padding: 0 2px;
	font-size: 12px;
}
.fa-chevron-down{
	font-size: 18px;
	position: relative;
	top: 2px;
}
.skills-holder{
	line-height: 2;
}
.skill{
	padding: 2px 8px;
	border-radius: 4px;
	color:white;
	opacity: .85;
}
